post generate for site eveyday 8am.json
{
  "name": "post generate for site eveyday 8am",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1oFjkaNnV-6Y2idlPZg2qvnMAB7zfQAx9W0L6Hz05sHA",
          "mode": "list",
          "cachedResultName": "post generate for site eveyday",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oFjkaNnV-6Y2idlPZg2qvnMAB7zfQAx9W0L6Hz05sHA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oFjkaNnV-6Y2idlPZg2qvnMAB7zfQAx9W0L6Hz05sHA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "to do"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1264,
        -112
      ],
      "id": "f63ca18e-55e5-482a-8c65-de8da408a912",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WdwmkrnkGg61JsPo",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \" search about {{ $json.topic }}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1056,
        -112
      ],
      "id": "b5418102-8d15-4a05-9ba1-6581ac66ac39",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nsubject1:{{ $json.results[0].content }}\nsubject2:{{ $json.results[1].content }}\nsubject3:{{ $json.results[2].content }}",
        "options": {
          "systemMessage": " و یک خروجی با حالت متن عامیانه همراه با ایموجی  بدهکه سه محتوا بگیرو  خلاصه کنه"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -848,
        -112
      ],
      "id": "4619468e-aeb1-4ef2-97e6-6413724aa665",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -992,
        96
      ],
      "id": "8e16199b-76e1-4641-b1de-eb3ccede6515",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xVKaOIfhrOLoNoV3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1oFjkaNnV-6Y2idlPZg2qvnMAB7zfQAx9W0L6Hz05sHA",
          "mode": "list",
          "cachedResultName": "post generate for site eveyday",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oFjkaNnV-6Y2idlPZg2qvnMAB7zfQAx9W0L6Hz05sHA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oFjkaNnV-6Y2idlPZg2qvnMAB7zfQAx9W0L6Hz05sHA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "done",
            "content": "={{ $json.output }}",
            "topic": "={{ $('Get row(s) in sheet').item.json.topic }}",
            "row_number": 0
          },
          "matchingColumns": [
            "topic"
          ],
          "schema": [
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -496,
        -112
      ],
      "id": "1e42413c-ce01-4fa5-bbf0-d6895ee65489",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WdwmkrnkGg61JsPo",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1504,
        -112
      ],
      "id": "0d57a337-527e-40d0-9dd0-03c1ac4d26bc",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b943a85c-a9ea-487a-9625-9c80f38ba975",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8d785470f7d1ae2ef2193ae82cfeb2221bca17f035e640f9f2551d2bd0d18eb"
  },
  "id": "5TMUczTSjySZ5wbz",
  "tags": []
}